<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <h2>Sign up</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="fadeIn second">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="fadeIn third">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="fadeIn third">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <%= f.label :type, "Seller", :value => "seller"  %>
      <%= f.radio_button :type, "seller",:checked => true %><br>
      <%= f.label :type, "Buyer", :value => "buyer" %>
      <%= f.radio_button :type, "buyer", :checked => false %><br>
      <%= f.label :type, "Admin", :value => "admin" %>
      <%= f.radio_button :type, "admin", :checked => false %><br>

      <div class="fadeIn fourth">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>